body{
    margin: 0px;
    display: flex;
    justify-content: center;
    height:100vh;
    align-items: center;
    background-color: gray;
    
}
.clock{
    width:200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
    border:1px solid darkgoldenrod;
    background-color:gainsboro;

}
.number div{
    position: absolute;
    color: aqua;
}
.arrow div{
position: absolute;
background-color:black;
width:4px;
height:80px;
bottom:50%;
left: 50%;
transform-origin: bottom center;
border-radius: 200% 200% 0 0;


}

.number div:nth-child(even){
    color:orangered;
    top:50%;
    
    transform:translateY(-50%);
}
.number div:nth-child(odd){
    color:black;
    font-weight: bolder;
    
    left:50%;
    transform:translateX(-50%);
}
.number div.six{
bottom:0px;
}
.number div.nine{
    right:0px;
}
.arrow::before{
    content: "";
    width:20px;height:20px;
    background-color: blue;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 45%;
    z-index: 3;
    transform: translateY(-50%);
} 
.arrow div.second{
    width:2px;
    
}   
.arrow div.hour{
    width:8px;
    height:50px;
   
} 
