
body{
    display:flex;   
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.slider-container{
    width:500px;
    height:300px;
    overflow: hidden;
    position: relative;

}
.image-container{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.btn{
    position: absolute;
    font-size: 50px;
    top: 50%;
    color: white;
    transform: translateY(-50%);
    opacity: 0.5;
}
.btn.next{
    right:10px;
}
.btn.prev{
    left:10px;
}
.btn:hover{
opacity: 1;

}